* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.heading h1 {
    font-size: 40px;
}

.addtime {
    margin-top: 5px;
}

#clock-container {
    height: 85vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.clock p {
    font-size: 90px;
    margin-bottom: 35vh;
}

.clock button {
    padding: 10px 20px;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.flicker-effect {
    animation: flicker 0.3s infinite;
}